<?xml version="1.0" encoding="utf-8"?>

<!-- Config File For the Game-->
<config>
  <name> MY SUPER AWESOME GAME </name>
  <app>
    <tittle>Game Development Testbed</tittle>
    <organization>UPC</organization>
  </app>

  <renderer>
  </renderer>
  
  <window>
    <FULLSCREEN fullscreen="false">
    </FULLSCREEN>
    <NAME name="My super awesome ultra game"></NAME>
    
    <BORDERLESS borderless="false">
    </BORDERLESS>
    
    <RESIZABLE resizable="false">
    </RESIZABLE>

    <FULLSCREEN_WINDOW fullscreen_window="false">
    </FULLSCREEN_WINDOW>

    <TITLE title="replace me title">
    </TITLE>
    
    <WIDTH width="1024">
    </WIDTH>

    <HEIGHT height="768">
    </HEIGHT>

    <SCALE scale="1">
    </SCALE>
   
  </window>
  
  
  
  
</config>